[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
libsthing = {file = ".", editable = true}
coloredlogs = "*"
dearpygui = "*"
scipy = "*"
scikit-learn = "*"
chardet = "*"
lmfit = "*"
pyarrow = "*"
attrs = "*"
natsort = "*"
pybaselines = "*"
pathos = "*"

[dev-packages]
black = "*"
bandit = "*"
pandas-stubs = "*"
setuptools = "*"
ipykernel = "*"
nuitka = "*"
memory-profiler = "*"
typing-extensions = "*"
pylint = "*"
matplotlib = "*"
periodictable = "*"
bs4 = "*"
pyarrow-stubs = "*"

[requires]
python_version = "3.12"
